@import './base.css';

:root {
  --dark-blue: #202634;
  --mist-grey-100: #ACBCBC;
  --mist-grey-400: #8CA4A6;
  --cream-white: #FEF9F3;
  --peach-accent: #E6A383;
  --dark-yellow: #D99031;
  --soft-yellow: #A79B82;
  --grey-500: #878380;
  background-color: var(--cream-white);
}



